#app{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: coral;
}

h3{
    color: white;
    animation: aaa 3s infinite;
    text-align: center;
}

@keyframes aaa {
    0% {transform: rotateX(0) }
    50% {transform: rotateX(360deg) }
    100% {transform: rotateX(0) }
}